<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cameraDepth">

    <xacro:macro name="CameraDepth" params="name 
                                            fix_to 
                                            xyz 
                                            rpy 
                                            namespace=camera
                                            hz=30">

        <link name="${name}_link">
            <visual>
                <geometry>
                    <box size="0.025 0.025 0.025"/>
                </geometry>
            </visual>

            <inertial>
                <origin xyz="0 0.069 -0.047" rpy="0 0 0"/>
                <mass value="0.0001"/>
                <inertia
                    ixx="1"
                    ixy="0"
                    ixz="0"
                    iyy="1"
                    iyz="0"
                    izz="1"/>
            </inertial>
                
        </link>

        <gazebo reference="${name}_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <joint name="${name}_joint" type="fixed">
            <parent link="${fix_to}"/>
            <child link="${name}_link"/>

            <origin rpy="${rpy}" xyz="${xyz}"/>
            <axis xyz="0 0 1" />
        </joint>

        <gazebo reference="${name}_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
            <material>Gazebo/Black</material>
        </gazebo>

        <link name="${name}_rgb_optical_frame">
                
            <inertial>
                <origin xyz="0 0.069 -0.047" rpy="0 0 0"/>
                <mass value="0.035"/>
                <inertia
                ixx="1"
                ixy="0"
                ixz="0"
                iyy="1"
                iyz="0"
                izz="1"/>
            </inertial>

        </link>

        <joint name="${name}_rgb_optical_joint" type="fixed">
                <parent link="${name}_link"/>
                <child link="${name}_rgb_optical_frame"/>
                
                <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
                <axis xyz="0 0 1" />
        </joint>


        <gazebo reference="${name}_rgb_optical_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>
        
        <!-- camera -->
        <gazebo reference="${name}_link">
                <sensor name="${name}" type="depth">
                    <!--<frameName>${name}_rgb_optical_frame</frameName>-->
                    <always_on>true</always_on>
                    <visualize>true</visualize>
                    <update_rate>${hz}</update_rate>
                    <camera name="intel_realsense_r200">
                    <horizontal_fov>1.02974</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>50</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <!-- Noise is sampled independently per pixel on each frame.
                            That pixel's noise value is added to each of its color
                            channels, which at that point lie in the range [0,1]. -->
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                    </camera>
                    <plugin name="camera_driver" filename="libgazebo_ros_camera.so">
                        <camera_name>${name}</camera_name>
                        <frame_name>${name}_rgb_optical_frame</frame_name>
                        <ros>
                        <namespace>${namespace}</namespace>
                        <!-- <remapping>image_raw:=image_demo</remapping> -->
                        <!-- <remapping>camera_info:=camera_info_demo</remapping> -->
                        </ros>
                    </plugin>
                </sensor>
        </gazebo>
    </xacro:macro>

</robot>